
.fluid-container{
background-image: url('/assets/log.webp');
background-size: cover;

section{
    height:500px;
    width:500px;
    margin-left: 500px;
   
    
    
    div{
        padding: 10px;
    }
}
}