
.fluid-container{
    background-image:url('/assets/gt.jpeg');
// background-size: cover;
height: 780px;

section{
    
    height:700px;
    width:30%;
   padding:40px;
    margin-left: 500px;
   background-color: azure;
    border-radius: 40px;

   

div{
    padding: 10px;
}
}
}