
.fluid-container{
background-image: url('/assets/log.webp');
// background-size: cover;
height: 780px;
div{
    padding: 10px;
}
}
section{
    height:400px;
    width:30%;
   padding:40px;
    margin-left: 500px;
   background-image:url('/assets/gt.jpeg');
    border-radius: 40px;

   
}