.fluid-container{
    background-image: url('/assets/log.webp');
    font-weight: 1000;

    th{
        font-size: larger;
        font-style: italic;
        color: red;
        background-color: rgb(156, 189, 189);
    }
}