
<div class="fluid-container">
    <button routerLink="../../quicksale" class="btn btn-primary"  >Back</button>
    
    <div class="flex flex-col">
        <div class="-m-1.5 ">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="overflow-hidden">
            <div style="text-align:center;background-color:rgb(210, 224, 197)"> 
              <div style="background-color:burlywood;height:50px;">
              <h1 style="font-weight:800;font-size:larger;text-align:center;">Sale Info</h1>
            </div>
              <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700" *ngIf="sales">
                
                <tr
                class="hover:bg-gray-100 dark:hover:bg-gray-700"
                >
             
                
                 <td 
                    class="px-6 py-4 whitespace-nowrap text-sm font-medium text-black dark:text-gray-200"
                  >
        
                 <b>ID:</b> {{sales.id}}
                  </td> 
                    <td 
                      class="px-6 py-4 whitespace-nowrap text-sm text-black dark:text-gray-200"
                    > 
                    
             <b> Name: </b>{{sales.name }}
          
                    </td>
                    <td 
                      class="px-6 py-4 whitespace-nowrap text-sm text-black dark:text-black-200"
                    >
                    <b>Products:</b> {{ sales.products.length
                      }}
                    </td>
                   
    
                
                   
                    
             
                 
                </tr>
    
            
              </table>
              </div>
    
              <div  class="bg-blue-500 mt-[50px] align-baseline">
      <div  class="bg-orange-400 h-[40px]">
    <h1 style="text-align:center;font-weight:900;font-size:larger">Order Info</h1>
      </div>
                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                  <thead>
                    <tr>
      
                      
                    
                     
                      <th style="color:black"
                      scope="col"
                      class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                    >
                      Product-Id
                    </th>
                      <th style="color:black"
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                      >
                       Name
                      </th>
                      <th style="color:black"
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                      >
                     Price
                      </th>
                    </tr>
                    <tbody>
                      <tr
                      *ngFor="let product of sales.products"
                      class="hover:bg-gray-100 dark:hover:bg-gray-700"
                      >
                   
                      
                       <td 
                          class="px-6 py-4 whitespace-nowrap text-sm font-medium text-black dark:text-gray-200"
                        >
              
                        {{product.id}}
                        </td> 
                          <td 
                            class="px-6 py-4 whitespace-nowrap text-sm text-black dark:text-gray-200"
                          > 
                          
                   {{ product.name }}
                
                          </td>
                          <td 
                            class="px-6 py-4 whitespace-nowrap text-sm text-black dark:text-black-200"
                          >
                           {{ product.price | currency:'USD'
                            }}
                          </td>
                         
          
                  
                         
                          
                      </tr>
          
                  </tbody>
                </table>
    
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>