<nav class="flex items-center space-x-2">
    
        <button (click)="onPageChange(1)"  class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full cursor-pointer" [disabled]="currentPage === 1">
          <<</button>
        <button (click)="prevPage(currentPage -1)"    class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full cursor-pointer" [disabled]="currentPage === 1" >
          prev</button>
        <button *ngFor="let pageNumber of pages" (click)="onPageChange(pageNumber)" [class.active]="pageNumber === currentPage" 
          class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full cursor-pointer">
          {{ pageNumber }}
        </button>
        <button (click)="nextPage(currentPage +1)"   class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full cursor-pointer" [disabled]="currentPage === totalPages">
          Next</button>
        <button (click)="onPageChange(totalPages)"  class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full cursor-pointer"  [disabled]="currentPage === totalPages">
          >>
        </button>
   

  </nav>
  <style>
    button.active {
      background-color: rgb(57, 172, 115);
      color: rgb(59, 119, 141);
    }
  </style>
          
  <!-- <nav class="flex items-center space-x-2">
    <button (click)="prevPage(currentPage -1)"  class="text-gray-400 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md pointer-events-none" [disabled]="currentPage === 1" >
      <span aria-hidden="true">«</span>
      <span>Previous</span>
    </button>
    <button *ngFor="let pageNumber of pages" (click)="onPageChange(pageNumber)" [class.active]="pageNumber === currentPage" class="w-10 h-10 bg-blue-500 text-white p-4 inline-flex items-center text-sm font-medium rounded-full"  aria-current="page">{{pageNumber}}</button>

    <button (click)="nextPage(currentPage +1)" [disabled]="currentPage === totalPages" class="text-gray-500 hover:text-blue-600 p-4 inline-flex items-center gap-2 rounded-md" >
      <span>Next</span>
      <span aria-hidden="true">»</span>
    </button>
  </nav> -->