#mart{
    background-image: url('/assets/indiaMart.jpeg');
   height:250px;
}

#mart1{
    background-image: url('/assets/mart1.jpeg');
    height:250px;
}
#mart2{
    background-image: url('/assets/mart2.jpeg');
    height:250px;
}