.fluid-container{
background-image: url('/assets/reg.jpeg');
height: 780px;
overflow: hidden;

}
section{
   background-image:url('/assets/der.webp');
   width:30%;
   margin: auto;
   border-radius: 40px;
   margin-top: 70px;
  
}