<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <form [formGroup]="updateProductForm">
          <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
            <thead>
              <tr>

                
              
               
                <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
                Name
              </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                >
                  Price
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                >
                Department
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
                >
               Stock
                </th>

                <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase"
              >
               Active
              </th>


                <th
                  scope="col"
                  class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase"
                >
                  Action
                </th>
                <th
                scope="col"
                class="px-6 py-3 text-right text-xs font-medium text-gray-500 uppercase"
              >
                Action
              </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              <tr
              
              [formGroupName]="product.id"
                *ngFor="let product of products$ |async"  
                class="hover:bg-gray-100 dark:hover:bg-gray-700"
              >
              <!-- [class.disabled]="isProductDisabled(product) -->
               
                <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
              >
              <!-- <input [(ngModel)]="product.Name"  name="Name" required  value="   {{ product.Name}}"> -->
              {{ product.Name}}
              </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                <!-- <input [(ngModel)]="product.Price"  name="Price" required  value="{{ product.Price  | currency:'USD'}}"> -->
                <!-- {{ product.Price  | currency:'USD'}} -->
                <input
                (change)="setFormatCurrency(product, $event)" 
                formControlName="Price"
                type="number"
                class="py-3 border px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              />
              <!-- (change)="setFormatCurrency(product, $event)"   -->
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  {{ product.Department }}
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  <!-- {{ product.stock}} -->

                  <input
                  formControlName="stock"
                  type="number"
                  class="py-3 border px-4 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                />
                </td>
                <!-- <td
                  class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                >
                  <a routerLink="/product/:{{product}}" class="text-blue-500 hover:text-blue-700" href="#">View</a>
                </td> -->
                <!-- <td
                  class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                >
                
                 <button type="submit" (click)="submit()">Update</button>
                  
              
                </td> -->
                <td
                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
              >
                <button
                  [disabled]="setDisableValue(product)"
                  (click)="setUpdatedValues(product)"
                  type="button"
                  class="py-2 mr-2 px-3 inline-flex justify-center disabled:bg-slate-400 disabled:cursor-not-allowed items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                >
                  Update
                </button>
                 <td> 
                  <!-- <label class="switch">
                    <input type="checkbox" [formControl]="productEnabledControls[product.id]" >
                    <span class="slider round"></span>
                  </label> -->

                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked >
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                  </div>

                 </td>

                <!-- <td
                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
              >
              
               <button  (click)="editUser(product)">Edit</button>
                
            
              </td>  -->

                
       <td
                class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
              >
                <button class="text-blue-500 hover:text-blue-700" (click)="deleteRow(product.id)">Delete</button>
              </td>
              </tr> 
<!-- 
              <tr *ngIf="editingUser" style="margin-right:200px;">
                <h2>Edit Item</h2>
                <div>
                 <label for="name"> ProductName
                  <input [(ngModel)]="editingUser.Name"  required>
            
                </label>
              </div>
              <div>
                <label for="price">Price
                  <input [(ngModel)]="editingUser.Price" name="Price" required>
                </label>
              </div>
                  <button  (click)="saveUser()">Save</button>
                
              </tr>   -->
              <!-- <tr *ngIf="editingUser" style="margin-left:200">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Form Title</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="Name" required [(ngModel)]="editingUser.Name">
                      </div>
                      <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" name="Price" required  placeholder=""  [(ngModel)]="editingUser.Price">
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"  (click)="saveUser()">Save changes</button>
                  </div>
                </div>
              </div>


            </tr> -->
            </tbody>
          </table>
        </form>

        </div>
      </div>
    </div>
  </div>
  
