<button
  (click)="addSale()"
  type="button"
  class="btn btn-primary"
  style="background-color: blue"
>
  Add Sale
</button>

<div *ngIf="editing">
  <div
    class="modal-dialog modal-dialog-centered"
    style="width: 50%; background-color: rgb(198, 214, 206)"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saleModalLabel" style="font-weight: bolder">
          Add Sale
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1 class="text-center" style="font-weight: bold">New Sale</h1>
          <div class="form-group">
            <label for="client">Client:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchValue"
              (input)="searchName()"
              placeholder="Search client"
            />
            <div *ngIf="filteredClients.length > 0" class="search-suggestions">
              <ul class="list-group" *ngIf="!isClientSelected" 
              >
                <li
                style="background-color: #ccc; " onmouseover="this.style.backgroundColor='#e9d8fd';" onmouseout="this.style.backgroundColor='#d4edda'"
                  class="list-group-item"
                  *ngFor="let client of filteredClients"
                  (click)="
                    selectClient(
                      client.id,
                      client.first_name + ' ' + client.last_name
                    )
                  "
                  [hidden]="client.name === selectClient?.name"
                >
                  {{ client.first_name }} {{ client.last_name }}
                </li>
              </ul>
            </div>
          </div>
          <form [formGroup]="saleForm">
            <div class="form-group">
              <label for="products">Products:</label>

              <div formArrayName="products">
                <div
                  class="mb-3"
                  *ngFor="let product of saleProducts.controls; let i = index"
                  [formGroupName]="i"
                >
               
                  <div class="row">
                    <ng-container>
                    <div class="col">
                      <input
                        type="text"
                        id="product"
                        class="form-control"
                        formControlName="id"
                        (input)="searchProduct()"
                        placeholder="Product ID"
                        [attr.data-index]="i"
                        [(ngModel)]="searchText"
                      />
                    </div>
                    <div *ngIf="filteredProducts.length > 0" class="suggession-container">
                      <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                        <thead>
                          <tr >
                            <th >Product ID</th>
                            <th>Product Name</th>
                            <th>Stock</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor="
                              let product of filteredProducts;
                             
                            
                            "
                            style="background-color: #ccc; " onmouseover="this.style.backgroundColor='#ffd9e6';" onmouseout="this.style.backgroundColor='#c9e4ff';"
                             (click)="selectProduct(product.id, product.id)"
                          >
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.stock }}</td>
                            <td>{{ product.active ? 'Active' : 'Inactive' }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-container>

                    <div class="col">
                      <input
                        type="number"
                        class="form-control"
                        formControlName="quantity"
                        placeholder="Quantity"
                      />
                    </div>

                    <div class="col-auto">
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="removeProduct(i)"
                      >
                        Remove
                      </button>
                    </div>
                  </div>
                </div>

                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="addProductTolist()"
                    style="color: black"
                  >
                    Add Product
                  </button>
                </div>
                <div>
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"  (click)="showCartView = !showCartView">
                    Show Cart
                  </button>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button
                type="button"
                class="btn btn-primary"
                (click)="confirmSale()"
                [disabled]="saleForm.invalid"
              >
                Add Sale
              </button>
              <button (click)="addTocart()" class="btn btn-warning" [disabled]="saleForm.invalid">Add to Cart</button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="cancel()"
              >
                Cancel
              </button>
            </div>
            <div *ngIf="cartView" style="width:100%;"  >
              <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                <div class="p-4 md:p-10">
              <h3 class ="text-lg font-bold text-gray-800 dark:text-red">Cart Items:</h3>
              <div *ngFor="let cartItem of cartItems; let i = index">
                <div  class="mt-2 text-gray-800 dark:text-gray-700">ClientID: {{ cartItem.client_id }}</div>
                <ul>
                  <li class="mt-2 text-gray-800 dark:text-gray-700" *ngFor="let product of cartItem.products">
                  Product-Id:  {{ product.id }} - Quantity:{{ product.quantity }}
                  </li>
                </ul>
                <button (click)="removeFromCart(i)" class="btn btn-warning">Delete</button>
                <button (click)="addCartItemToSales(cartItem)"  class="btn btn-primary">Add to Sales</button>
              </div>
          
              <button
              type="button"
              class="btn btn-warning"
              (click)="cartClose()"
            >
              Cancel
            </button>
            
            </div>
              </div>
              </div>


              <div *ngIf="showCartView" style="width:100%;">
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                  <div class="p-4 md:p-10">
                <h2 class="text-lg font-bold text-gray-800 dark:text-red">Cart Items:</h2>
                <div *ngFor="let cartItem of cartItems; let i = index">
                  <div>ClientID: {{ cartItem.client_id }}</div>
                  <ul>
                    <li class="mt-2 text-gray-800 dark:text-gray-700" *ngFor="let product of cartItem.products">
                      Product-Id: {{ product.id }} | Quantity: {{ product.quantity }}
                    </li>
                  </ul>
                </div>
                <button class="btn btn-secondary" (click)="cancelCart()">Close</button>
              </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
