.fluid-container{
    width:2000px;
    height:1000px;
    background-image: url("/assets/Welcome.jpeg");
    background-repeat: repeat;
    overflow:hidden;
    margin: auto;



    
 

   

    


    
}
