.fluid-container{
    width:3000px;
    height:1000px;
    background-image: url("/assets/fry.jpeg");


    .container{

    width:1000px;
    height: 800px;
    background-image:url('/assets/vd.webp');
    margin-left:200px;
    margin-bottom:200px;
    
 

    h1{
        margin:auto;
        margin-left: 200px;
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    
}
}