.fluid-container{
    
    height:700px;
    background-image: url("/assets/des.jpg");
  background-size:1500px;
    overflow:hidden;
    margin: auto;
   margin-right: 20px;



    
 

   

    


    
}
